

input[type="text"], input[type="date"],
input[type="email"], input[type="tel"], input[type="number"] {
    width:320px;
    height: 30px;
    padding: 5px;
    border: 1px solid blue;
}

#customer-salary {
    width: 1fr;
    padding: 9px;
}

#customer-salary,
#order-id,
#customer-id {
    text-transform: uppercase;
    padding:9px;
}

#order-id,
#customer-id {
    width: 1fr;
    padding:9px;

}

label {
    display: block;
    padding:9px;
    color:black;
    font-size: 13px;
}

#customer-name {
    width: 1fr;

}

#customer-address {
    height: 50px;
    resize: none;
    padding:9px;
}

#order-date {
    width: 1fr;
    padding:9px;
}



.add-to-cart{
    width:130px;
    height:45px;
    margin-top: 28px;
    margin-right: 42px;
    left:10px;
    padding:10px;
    background-color: #5b7fd7;
    border-radius: 10px;
    border: none;

}
#place-order{
    width:130px;
    height:45px;
    margin-top:28px;
    margin-right: 42px;
    left:10px;
    padding:10px;
    background-color: #5b7fd7;
    border-radius: 10px;
    border: none;
}

.clear  {
    width:130px;
    height:45px;
    margin-top: 28px;
    margin-right: 10px;
    right:10px;
    padding:10px;
    background-color: #f54760;
    border-radius: 10px;
    border: none;
}

#cancel{
    width:130px;
    height:45px;
    margin-top: 28px;
    margin-right: 10px;
    right:10px;
    padding:10px;
    background-color: #f54760;
    border-radius: 10px;
    border: none;
}

#search-order-form{
    display: none;
    margin-top: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 375px;
    height: 500px;
    padding: 10px;
    background-color: #fff;
    border: 2px solid #9bb1e7;
    box-shadow: 0 0 10px rgba(206, 201, 201, 0.2);
    z-index: 9999;
    color:black;
}

.search-order-button{

}

#search-order-Btn{
    margin-left: 980px;
    background-color: #70a0ea;
    color:white;
    margin-right: 5px;
    border-radius: 5px;
    border:none;


}

#clear-search-bar{
    background-color: #ec70a7;
    color:white;
    margin-right: 5px;
    border-radius: 5px;
    border:none;
}

#entry-order-form{
    border:none;
}
#close{
    display: inline-block;

}