@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
/*Element Selector-body*/
body{
    /*There is no need to add margin or padding default by browser I want the full space */
    margin:0;
    padding:0;
    background-color: #fafafc;
    color: #000000;
    font-family: 'Bitter', serif;
}

.material-icons-out-outLined{
     vertical-align: middle;
     line-height: 1px;
     font-size: 35px;
}
/*Grid*/
.grid-container{
    display:grid; /*grid content*/
    grid-template-columns: 260px 1fr 1fr 1fr;/*Specify the columns the grid have,First Column needs 260px and others have 1fr*/
    grid-template-rows: 0.2fr 3fr;/*how many rows we need..Header row takes 0.2fr and rest rows take 3fr --hieght*/
    grid-template-areas:"sidebar header header header" "sidebar main main main";/*Layout and how it should visualize*/
    height:100vh;/*make the heigh to visible are of the web page 100% of view port  hieght of page*/

}
/*Header*/
.header{
    grid-area: header;
    height:50px;
   /* background-color: #7dc99e;*/
    display:flex; /*Allows items to place left and some on right*/
    align-items:center;
    justify-content: space-between;
    padding:0 10px 0 10px;
    box-shadow: 0 6px 7px -3px rgba(71, 129, 100, 0.5);
}
 /*We want to view menu-icon in small screen sizes so set display to none*/
.menu-icon{
    display:none ;
}
/*Side menu bar*/
#sidebar{
    grid-area: sidebar;
    height:100%;
    background-color: #e3e3e3;
    overflow-y: auto;/*Push this sidebar to left, when the screen size decreases*/
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.sidebar-title{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 30px 30px;
    margin-bottom: 20px;
}

.sidebar-brand{
    margin-top:15px ;
    font-size: 20px;
    font-weight: 700;

}

.sidebar-title>span{
    display: none;
}

.sidebar-list{
    padding: 0;
    margin-top:20px ;
    list-style-type: none;

}

.sidebar-list-item{
    padding: 20px 20px 20px 20px;
    font-size: 18px;
}

.sidebar-list-item:hover{
    background-color: rgba(255,255,255,0.2);
    cursor: pointer;
}
.sidebar-list-item>a{
    text-decoration: none;
    color: white;
}
.sidebar-responsive{
    display: inline !important;
    position: absolute;
    z-index: 12 !important;
}

/*Main content*/
.main-container{
    grid-area: main;
    overflow-y: auto;
    padding :8px 8px;
    color: rgb(247, 247, 248);
}
.main-container .main-title h2{
    color:#4d5154;
}
.main-title{
    display: grid;
    justify-content: space-between;
}

.main-cards{
    top:20px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:10px;
    padding:20px 20px 10px 20px;
    margin-bottom: 20px;

}

.card{
    top:20px;
    bottom:20px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    padding:20px 20px 10px 20px;
    border-radius:5px;
    height:95px;
    color:white;
    font-size: 25px;
    margin-bottom: 10px;

}

.card:first-child{
    background-color: #a6b5ec;
}

.card:nth-child(2){
    background-color: #80a5e8;
}
.card:nth-child(3){
    background-color: #617fc9;
}
.card:nth-child(4){
    background-color: #405480;
}

.card-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 20px;
}

.card-inner>.material-icons-out-outLined,.card-inner h3{
    font-size:20px;

}
.card h1{
    font-size: 22px;
}
.charts {
    top:30px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 10px;
    margin-top:30px;
    align-items: center;
    justify-content: center;
    padding:10px 10px 10px 10px;
}

.charts-card {
    top:30px;
    margin-top:30px;
    background-color: #e5dcdc;
    margin-bottom: 10px;
    padding:20px 20px 20px 20px;
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
    height:400px;
}

.chart-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #617fc9;
    font-size: 22px;
}
/*=======================Order Styles===================*/
form {
    top:90px;
    border: 1px solid blue;
    border-radius: 10px;
    padding: 30px;

}

input[type="text"], input[type="date"],
textarea {
    width:1fr;
    height: 30px;
    padding: 9px;
    border: 1px solid blue;
}

#customer-salary {
    width: 1fr;
    padding: 9px;
}

#customer-salary,
#order-id,
#customer-id {
    text-transform: uppercase;
    padding:9px;
}

#order-id,
#customer-id {
    width: 1fr;
    padding:9px;

}

label {
    display: block;
    padding:9px;
    color:black;
    font-size: 13px;
}

#customer-name {
    width: 1fr;

}

#customer-address {
    height: 50px;
    resize: none;
    padding:9px;
}

#order-date {
    width: 1fr;
    padding:9px;
}

.form-group:last-child {
    margin-bottom: 0;
}

.form-group + .form-group {
    margin-top: 10px;
}

.form-group + .form-group label {
    margin-top: 10px;

}

.add-to-cart{
    width:130px;
    height:45px;
    margin-top: 28px;
    margin-right: 42px;
    left:10px;
    padding:10px;
    background-color: #5b7fd7;
    border-radius: 10px;
    border: none;

}
#place-order{
    width:130px;
    height:45px;
    margin-top:28px;
    margin-right: 42px;
    left:10px;
    padding:10px;
    background-color: #5b7fd7;
    border-radius: 10px;
    border: none;
}

.clear  {
    width:130px;
    height:45px;
    margin-top: 28px;
    margin-right: 10px;
    right:10px;
    padding:10px;
    background-color: #f54760;
    border-radius: 10px;
    border: none;
}

#cancel{
    width:130px;
    height:45px;
    margin-top: 28px;
    margin-right: 10px;
    right:10px;
    padding:10px;
    background-color: #f54760;
    border-radius: 10px;
    border: none;
}

#search-order-form{
    display: none;
    margin-top: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 375px;
    height: 500px;
    padding: 10px;
    background-color: #fff;
    border: 2px solid #9bb1e7;
    box-shadow: 0 0 10px rgba(206, 201, 201, 0.2);
    z-index: 9999;
    color:black;
}



#search-order-Btn{
    margin-left: 980px;
    background-color: #70a0ea;
    color:white;
    margin-right: 5px;
    border-radius: 5px;
    border:none;


}

#clear-search-bar{
    background-color: #ec70a7;
    color:white;
    margin-right: 5px;
    border-radius: 5px;
    border:none;
}

#entry-order-form{
    border:none;
}
#close{
    display: inline-block;

}

/*=============item styles==========================*/
/*==================customer styles=================*/
.edit-btn,.edit-item-btn,.edit-order-btn {
    background-color: #82a3c9;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
}


.delete-btn,.delete-item-btn,.delete-order-btn {
    background-color: #e09299;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;

}



#reloadBtn,#reload-item-Btn,#orderReloadBtn{
    background-color: #7891d0;
    color: #fff;
    border: none;
    padding: 5px 5px;
    cursor: pointer;
    margin:5px;
}


#searchBtn,#search-item-Btn,#orderSearchBtn{
    background-color: #26a3d0;
    color: #fff;
    border: none;
    padding: 5px 5px;
    cursor: pointer;
    margin: 5px;
}

#searchBar, #search-item-Bar,#orderSearchBar{
    width: 450px;
    height: 40px;
    border-radius: 10px;
}

#addBtn,#add-item-button,#order-addBtn{
    background-color: #26a3d0;
    color: #fff;
    border: none;
    padding: 5px 5px;
    cursor: pointer;
    margin: 5px;
}
/* Nav Announcements */
.alerts-heading {
    font-size: 50px;
    margin: 0;
}

.alerts-text {
    margin: 0;
}
.container {
    margin-top: 20px;
}
.add-button {
    margin-bottom: 20px;
}
.search-bar {
    margin-bottom: 20px;
}
.search-input {
    border: 1px solid #c5c0c0;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
    width:450px;
    align-items:self-end ;
}
.register-form, .edit-form {
    position: center;
    border: 1px solid blue;
    border-radius: 10px;
    display: none;
    position: fixed;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 800px;
    padding: 5px;
    background-color: #fff;

    box-shadow: 0 0 10px rgba(206, 201, 201, 0.2);
    z-index: 9999;
    color:black;
}

ul.navbar-nav.side-nav > li > a {
    margin-left: 20px;
    padding: 20px 20px 20px 20px;
    margin-top: 20px;

}

/*=====================customerStyles====================*/
.rotate-180-deg {
    transform: rotate(180deg);
}

hr {
    margin: 5px 0;
}

.docs-table tbody i {
    display: inline-block;
    margin: 0 auto;
    font-size: 2em;
    width: 100%;
    text-align: center;
}

#wrapper {
    height: 100%;
    padding-left: 0;
}

#page-wrapper {
    height: 100%;
    padding: 5px 15px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* ---------- MEDIA QUERIES ---------- */

/* Medium <= 992px */

@media screen and (max-width: 992px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 3fr;
        grid-template-areas:
      "header"
      "main";
    }

    #sidebar {
        display: none;
    }

    .menu-icon {
        display: inline;
    }

    .sidebar-title > span {
        display: inline;
    }
}
/*<= 768px*/
@media screen and (max-width: 992px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 3fr;
        grid-template-areas: "header" "main";
    }

    .sidebar {
        display: none;
    }

    .menu-icon{
        display: inline;
    }

    .sidebar-title>span{
        display: inline;
    }
}

/* Small <= 768px */

@media screen and (max-width: 768px) {
    .main-cards {
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 0;
    }

    .charts {
        grid-template-columns: 1fr;
        margin-top: 30px;
    }
}


/* Extra Small <= 576px */

@media screen and (max-width: 576px) {
    .header-left {
        display: none;
    }
}